{{ template "head" . }}
        <header>
			<h1>
				Play Episodes Directly
			</h1>
			<nav>
	          <ul>
					<li><a href="/">Home</a></li>
                    <li><a href="episodes">Episodes</a></li>
				</ul>
			</nav>
		</header>
		<main>

			<div>
			<figure>
            <figcaption>Episode 3</figcaption>
                <audio controls src="audio/test.mp3"></audio>
            </figure>
            </div>

            <div>
			<figure>
            <figcaption>Episode 2</figcaption>
                <audio controls src="/audio/"></audio>
            </figure>
            </div>

            <div>
			<figure>
            <figcaption>Episode 1</figcaption>
                <audio controls src="/audio/"></audio>
            </figure>
            </div>
		</main>
	   {{ template "footer" .}}
	</body>
	</html>
	<script>
		function reloadPage() {
			setTimeout(function() {
				window.location.reload();
			},2000);
		}
	</script>
