<!Doctype html>
	<head>
	   <html lang="en">
	   <link rel="stylesheet" href="/views/style.css">
	   <title>Not Minnesota Nice - Episodes</title>
	</head>
	<body>

        <header>
			<h1>
				Play Episodes Directly
			</h1>
			<nav>
	          <ul>
					<li><a href="/">Home</a></li>
                    <li><a href="episodes">Episodes</a></li>
				</ul>
			</nav>
		</header>
		<main>

			<div>
			<figure>
            <figcaption>Episode 3</figcaption>
                <audio controls src="/audio/"></audio>
            </figure>
            </div>

            <div>
			<figure>
            <figcaption>Episode 2</figcaption>
                <audio controls src="/audio/"></audio>
            </figure>
            </div>

            <div>
			<figure>
            <figcaption>Episode 1</figcaption>
                <audio controls src="/audio/"></audio>
            </figure>
            </div>
		</main>
		<footer>
		</footer>
	</body>
	</html>
	<script>
		function reloadPage() {
			setTimeout(function() {
				window.location.reload();
			},2000);
		}
	</script>
