{{ define "header" }}

	<header>
	<h1>The Not Minnesota Nice Podcast </h1>
	<nav>
	   <ul>
			<li><a href="/">Home</a></li>
            <li><a href="episodes">Episodes</a></li>
            <li><a href="latest">Latest</a></li></li>
		</ul>
	</nav>
	</header>
{{ end }}
